@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  @apply bg-gray-900 text-white font-sans;
}

nav {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #1d2942;
}
